.home {
  margin: auto auto;
  max-width: 960px;
}

.screenshots {
  max-height: 200px;
}

.screenshot {
  width: auto;
  height: 100%;
  display: block;
}

.login {
  margin: 0 auto;
  padding: 20px;
}
