<!-- =========== User is Authenticated ===========  -->
<section class="isAuthenticated" ng-if="vm.auth.isAuthenticated()">
    <section class="healthLayout">
        <div class="benefitkit" ng-controller="HomeController as vm">
            <div class="benefitdata">
                <section class="dashbaordPanel">
                    <div class="userProfile">
                        <div class="portfolioArea">
                            <div class="serviceHeader" ng-init="vm.initialSetup()">
                                <i class="fa fa-university" aria-hidden="true"></i> Investment Portfolio
                            </div>
                            <uib-accordion ng-model="oneAtATime" close-others="oneAtATime">
                                 <div uib-accordion-group class="panel-default" ng-repeat="portfolio in portfolios" is-open="status.open">
                                    {{portfolio.timestamp}}
                                    <uib-accordion-heading>
                                        {{portfolio.name}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                        </uib-accordion-heading>
                                    </div>
                            </uib-accordion>
                        </div>
                        <hr/>

                        <div class="riskArea">
                            <div class="serviceHeader">
                                <i class="fa fa-user-md" aria-hidden="true"></i> Portfolio Optimizer
                            </div>
                            <aside class="insidePanel">
                            </aside>
                        </div>
                    </div>

                    <div class="newsArea">
                        <div class="serviceHeader">
                            <i class="fa fa-newspaper-o" aria-hidden="true"></i> Discovery News
                        </div>
                        <aside class="insidePanel">
                            <i>Under development</i>
                        </aside>
                    </div>

                    <div class="analyticsArea">
                        <div class="marketScenarios">
                            <div class="serviceHeader">
                                <img src="/assets/images/market_Scenarios.svg" alt="market Scenarios" data-pin-nopin="true">
                                <span class="insideText">Predictive Market-Scenarios Service</span>
                                <!--<i class="fa fa-pie-chart" aria-hidden="true"></i> Predictive-Market-Scenarios Service-->
                            </div>
                        </div>

                        <div class="instrumentAnalytics">
                            <div class="serviceHeader">
                                <!--<i class="fa fa-bar-chart" aria-hidden="true"></i> Simulated Instrument Analytics-->
                                <img src="/assets/images/instrument_Analytics.svg" alt="price and analytics under stress"
                                     data-pin-nopin="true"> <span
                                    class="insideText">Simulated Instrument Analytics</span>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </section>
</section>


<!-- =========== User is not Authenticated ===========  -->
<section ng-if="!vm.auth.isAuthenticated()" class="notAuthenticated">
    <br>
    You are not logged in! Please <a ng-click="vm.auth.login()">Log In</a> to continue.
</section>
