<!-- =========== User is Authenticated ===========  -->
<section class="isAuthenticated" ng-if="vm.auth.isAuthenticated()">
    <section class="healthLayout">
        <div class="benefitkit">
            <div class="benefitdata">
                <section class="dashbaordPanel">
                    <div class="leftPanel">
                        <div class="userProfile">
                            <div class="portfolioArea">
                                <div class="serviceHeader">
                                    <i class="fa fa-money" aria-hidden="true"></i> Risk factors
                                </div>
                                <div layout="row" layout-align="space-between center">
                                    <h4>Choose risk factor</h4>
                                    <md-select ng-model="risk" placeholder="Risk factors" ng-change="riskfactorChanged()" class="md-no-underline">
                                        <md-option ng-value="riskvalue" ng-repeat="riskfactor in riskfactors">{{ riskfactor.name }}</md-option>
                                    </md-select>
                                </div>
                                {{riskvalue}}
                                <button class="base--button widget--header-button csv" ng-click="vm.toDiscovery()">Call Watson Discovery</button>
                            </div>
                        </div>

                        <div class="userProfile">
                            <div class="portfolioArea">
                                <div class="serviceHeader">
                                    <i class="fa fa-newspaper-o" aria-hidden="true"></i> Watson Discovery News
                                </div>

                                <div class="top-stories widget" >
                                    <div class="widget--header">
                                        <h2 class="base--h2 widget--header-title">Top Stories</h2>
                                        <div class="widget--header-spacer"></div>
                                        <!--<button class="base--button widget--header-button" ng-click="discoveryNewsButton()" ng-if="showMessage == false">View API Response</button>-->
                                    </div>

                                    <span class="userMessage" ng-if="showMessage == true">
                                <p>
                                    Choose a risk factor to view Discovery
                                </p>
                            </span>
                                    <span ng-if="showMessage == false">
                                <p class="base--p top-stories--description">Find the most recent and relevant news articles that impact your portfolio.<br>
                                Showing <strong>20</strong> of {{newslist.matching_results}} matching documents</p>
                            </span>
                                </div>

                                <div class="top-stories widget" >
                                    <div class="top-stories--list" ng-repeat="news in newslist" ng-if="$index == 1">

                                        <div class="story" ng-repeat="items in news">
                                            <div class="story--date">{{dateAndTime(items.yyyymmdd)}}</div>

                                            <a class="story--title base--a results--a"
                                               href="{{items.url}}"
                                               target="_blank"
                                               title="{{items.title}}"
                                               rel="noopener noreferrer">{{items.title}}</a>
                                            <div class="story--source-and-score">
                                                <span class="base--p story--source">{{items.host}}</span>
                                                <span class="story--source-score-divider"> | </span>
                                                <span class="story--score base--p">
                                            <span>Score:</span> {{items.score}}
                                        </span>
                                                <span class="story--source-score-divider"> | </span>
                                                <span class="story--score base--p">
                                            <span>Sentiment:</span>
                                                    <!--Checking the value where if negative or not-->
                                            <span ng-if="items.docSentiment.type === 'negative'" class="red">
                                                <strong>{{items.docSentiment.type}}</strong>
                                            </span>

                                            <span ng-if="items.docSentiment.type !== 'negative'" class="normal">
                                                <strong>{{items.docSentiment.type}}</strong>
                                            </span>
                                        </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr/>
                                <div class="sentimentsFound" ng-if="showMessage == false">
                                    <span class="negativeCount">{{negativeCount}} Negative</span>
                                    <span class="positiveCount">{{positiveCount}} Positive</span>
                                    <span class="neutralCount">{{neutralCount}} Neutral</span>
                                </div>
                            </div>
                        </div>

                        <!--Shock value calculated in controller-->
                        <div class="discoveryAnalytics" ng-if="showMessage == false">
                            <span class="discoveryAnalyticsMessage">Scenario for <span class="redBold">({{shockvalue}}% fall)</span> in gold price.</span>
                        </div>
                    </div>



                    <div class="rightPanel">
                        <div class="newsArea">
                            <div class="serviceHeader">
                                <i class="fa fa-university" aria-hidden="true"></i> Investment Portfolio
                            </div>

                            <div class="widget--header">
                                <h4>Choose a portfolio</h4>
                                <div class="widget--header-spacer"></div>
                            </div>

                            <div ng-init="vm.initialSetup()">
                                <!--<uib-accordion ng-model="oneAtATime" close-others="oneAtATime">
                                    <div uib-accordion-group class="panel-default" ng-repeat="portfolio in portfolios" is-open="status.open" ng-click="vm.getHoldings(portfolio)">
                                        <table id="portfolio">
                                            <tr>
                                                <th>Company</th>
                                                <th>Asset</th>
                                                <th>InstrumentID</th>
                                                <th>Shares QTY</th>
                                                <th>Discover</th>
                                            </tr>
                                            <tr ng-repeat="holding in holdings" ng-click="vm.toDiscovery(holding)">
                                                <td>{{ holding.companyName }}</td>
                                                <td>{{ holding.asset }}
                                                    <td>{{ holding.instrumentId }}
                                                <td>{{ holding.quantity }}</td>
                                                <td><button ng-model="holding.companyName" ng-click="toDiscovery($company)" value="{{holding.companyName}}">Select</button></td>-
                                                <td class="discoverRun"><button class="base--button widget--header-button">Call Watson Discovery</button></td>
                                            </tr>
                                        </table>

                                        <uib-accordion-heading>
                                            <p style="margin-bottom: 0;">{{portfolio.name | titleCase }} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></p>
                                        </uib-accordion-heading>
                                    </div>-->
                                    <div ng-cloak >
                                        <md-content>
                                            <md-tabs md-dynamic-height md-border-bottom md-selected="data.selectedIndex" flex>
                                                <md-tab ng-repeat="portfolio in portfolios" label="{{portfolio.name}}" md-on-select="vm.getHoldings(portfolio)">
                                                    <md-content class="md-padding" >
                                                        <table id="portfolio" >
                                                            <tr>
                                                                <th>Company</th>
                                                                <th>Asset</th>
                                                                <!--<th>InstrumentID</th>-->
                                                                <th>Shares QTY</th>
                                                                <!--<th>Discover</th>-->
                                                            </tr>
                                                            <tr ng-repeat="holding in holdings" ng-click="vm.toDiscovery(holding)">
                                                                <td>{{ holding.companyName }}</td>
                                                                <td>{{ holding.asset }}
                                                                    <!--<td>{{ holding.instrumentId }}-->
                                                                <td>{{ holding.quantity }}</td>
                                                                <!--<td><button ng-model="holding.companyName" ng-click="toDiscovery($company)" value="{{holding.companyName}}">Select</button></td>-->
                                                                <!--<td class="discoverRun"><button class="base--button widget--header-button">Call Watson Discovery</button></td>-->
                                                            </tr>
                                                        </table>
                                                    </md-content>
                                                </md-tab>
                                            </md-tabs>
                                        </md-content>
                                    </div>



                                </uib-accordion>


                            </div>
                            <div class="loadingspinner" ng-show="loading"> </div>
                            <br>

                            <button class="base--button widget--header-button csv"  ng-click="vm.simulate()">Run Simulation</button>
                        </div>

                        <div class="newsArea" ng-if="simulateShock == false">
                            <div class="serviceHeader">
                                <i class="fa fa-university" aria-hidden="true"></i> Simulated Instrument Analytics
                            </div>
                            <div class="marketScenariosBody">
                                <h2 class="base--h2 widget--header-title">Analytics</h2>
                                <p class="base--p top-stories--description" ng-show="simulateheading">
                                    Projected impact on your holding resulting from a {{shockvalue}}% fall in the Gold Price Index
                                </p>
                            </div>
                                <table id="portfolio">
                                    <tr>
                                        <th>Name</th>
                                        <th>Company</th>
                                        <!--<th>InstrumentID</th>-->
                                        <th>Quantity</th>
                                        <th>Current Price</th>
                                        <th>Stressed Price</th>
                                        <th>Profit/Loss</th>
                                    </tr>
                                    <tr ng-repeat="simulation in portfoliosimulation">
                                        <td>{{ simulation.name }}</td>
                                        <td>{{ simulation.company }}</td>
                                        <!--<td>{{ holding.instrumentId }}-->
                                        <td>{{ simulation.quantity }}</td>
                                        <td>{{ simulation.currentprice }}</td>
                                        <td>{{ simulation.stressedprice }}</td>
                                        <td ng-if="simulation.pl < 0" class="redsimulate">{{ simulation.pl }}%</td>
                                        <td ng-if="simulation.pl > 0" class="green">{{ simulation.pl }}%</td>
                                        <!--<td><button ng-model="holding.companyName" ng-click="toDiscovery($company)" value="{{holding.companyName}}">Select</button></td>-->
                                    </tr>
                                </table>                              
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </section>
</section>


<!-- =========== User is not Authenticated ===========  -->
<section ng-if="!vm.auth.isAuthenticated()" class="notAuthenticated">
    <br>
    You are not logged in! Please <a ng-click="vm.auth.login()">log in</a> to continue.
</section>

