#loadingProgress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  visibility: hidden;
  z-index: 100;
}

/**
 * TOOLBAR
 */
.md-title {
  white-space: nowrap;
}

.md-subtitle {
  font-size: 16px;
  height: 16px;
}

.md-button.group {
  background-color: #dfdfdf;
  margin: 0;
}

.md-button.selected {
  background-color: #5555ff;
}

.md-button.groupFirst {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.md-button.groupLast {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/**
 * SIDEBAR
 */
.sidebar {
  min-width: 250px;
  font-size: 18px;
  overflow: scroll;
}

.sidebar-user {
  padding-top: 20px;
  margin-bottom: 40px;
}

.sidebar-user-avatar {
  font-size: 128px;
  width: 128px;
  height: 128px;
}

.sidebar-item a {
  display: block;
  text-align: left;
  padding-left: 20px;
  margin: 0;
}

.badge {
  border-radius: 16px;
  padding: 4px;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  min-width: 16px;
  max-height: 16px;
  line-height: 16px;
  text-align: center;
}

.app-container {
  overflow: hidden;
}

.main {
  overflow: scroll;
}

/**
 * PAGE
 */
.page-header {
  margin: 20px;
}

.page-body,
.page-description {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.page-description a {
  font-weight: bold;
  color: inherit;
}

.page-body {
  padding: 20px;
}

.page-header {
  border-bottom: 2px solid;
  padding-bottom: 20px;
}

.page-title {
  font-size: 30px;
}

/**
 * ALERT
 */
.alert {
  padding: 15px;
  margin-bottom: 20px;
}

.alert a {
  font-weight: bold;
  color: inherit;
}

tfoot.md-foot tr td.md-cell {
  border-top: 3px solid;
  border-bottom: 3px solid;
}
