body,
html {
    background-color: white;
    margin: 0 auto;
    font-family: Lato, sans-serif;
    color: #2d3f49;
    -webkit-font-smoothing: antialiased;
}

h2 {
    font-weight: normal;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

button {
    background: #fff;
    border: 1px solid;
    color: #5586D6;
    border-radius: 4px;
    border-color: #5586D6;
    height: 30px;
    width: 120px;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    cursor: pointer;
    font-size: .8rem;
}

button:disabled {
    opacity: 0.65;
}


/**************SPINNER*************/
/* Absolute Center Spinner */
.loadingspinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loadingspinner:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loadingspinner:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loadingspinner:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/**********SPINNER END*************/

/*.loadingspinner { border:1px solid #ddd; padding:10px; margin:20px 5px; width:40px;}*/
/**************TABLE***************/
.outline {
    display: flex;
    align-content: center;
    align-self: center;
    flex-direction: column;
    width: 100%;
}

.bannersecond {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #152935;;
    text-align: center;
}

.titleArea {
    flex: 2 0 0;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.sectionTitleArea {
    text-align: center;
    width: 100%;
    color: #fff;
}

.tagline {
    font-size: 22px;
}

.logo {
}

a {
    text-decoration: none;
    color: #152935;;
}

a.menulink {
    margin: 0 auto;
    font-family: Lato, sans-serif;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: bold;
}

.logoImage {
    height: 25px;
}

.watsonLogo {
    vertical-align: middle;
    padding: 20px
}

.name {
    margin-left: 10px;
}

.fb {
}

.welcome {
    font-size: 12px;
    margin: 20px;
    /* background: #f1f5f8; */
    padding: 10px;
    border-radius: 4px;
    color: #8C9BA5;
    text-align: center;
}

.askWatson {
    color: #152935;;
    text-align: center;
}

.plan {
    font-size: 12px;
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
    color: #597a96;
    border: 1px dashed #597a96;
}

.welcomeText {
    font-size: 16px;
    margin: 20px;
    background: white;
    padding: 20px;
    border-radius: 4px;
    color: #225282;
    font-weight: bold;
    border: 1px solid #c8e7e0;
}

.welcomeText span {
    color: #c8e7e0;
}

.loading {
    margin: 30px;
    height: 300px;
}

.carInsurance {
    margin-bottom: 100px;
    width: 100%;
    float: left;
}

.insuranceTypeHeading {
    font-size: 18px;
    margin: -21px;
    background: #c8e7e0;
    padding: 10px 20px;
    color: black;
    margin-bottom: 10px;
    font-weight: bolder;
}

.userTypeHeading {
    font-size: 18px;
    padding: 10px 10px;
    color: #225282;
    margin-bottom: 10px;
    font-weight: bolder;
}

.insuranceLeftList {
    margin: 0px;
    padding: 0px;
    width: 48%;
    margin-right: 4%;
    float: left;
    margin-top: 10px;
    background: #225282;
}

.ui-userInfo {
    margin: 0px;
    padding: 0px;
    width: 100%;
    float: left;
    margin-top: 10px;
}

.insuranceRightList {
    margin: 0px;
    padding: 0px;
    width: 40%;
    float: right;
    text-transform: uppercase;
}

.insuranceLeftList li {
    list-style: none;
    padding: 15px;
    background: #225282;
    font-size: 12px;
    color: white;
    font-weight: normal;
}

.ui-userInfo li {
    list-style: none;
    padding: 10px 15px;
    /* background: #225282; */
    font-size: 14px;
    color: #225282;
    font-weight: normal;
}

.address {
    height: 72px;
}

.edit_account_details a {
    text-decoration: none;
    font-weight: bold;
    color: #225282;
    border: 1px solid #9DB8D5;
    padding: 5px 11px;
    border-radius: 3px;
    background: #FFFFFF;
}

.insuranceLeftList li span {
    font-weight: bold;
    color: black;
    font-size: 13px;
    padding-left: 5px;
    padding: 2px 5px;
    border-radius: 2px;
    background: white;
    width: 140px;
    float: right;
    text-align: center;
}

.ui-userInfo li span {
    font-weight: bold;
    color: black;
    font-size: 13px;
    padding-left: 5px;
    padding: 5px 10px;
    border-radius: 2px;
    background: white;
    width: 70%;
    float: right;
    text-align: left;
    opacity: 0.7;
}

.ui-userInfo ul {
    padding: 0px;
}

.insuranceRightList li {
    list-style: none;
    padding: 10px;
    background: #547EAA;
    margin: 10px 0px;
    font-size: 14px;
    text-align: center;
    color: black;
    font-weight: bold;
    border-radius: 2px;
}

.insuranceRightList li a {
    color: #c8e7e0;
}

.insuranceRightList li a:hover {
    color: white;
}

.homeInsurance {
    margin-bottom: 40px;
    width: 100%;
    float: left;
}

.healthInsurance {
    margin-bottom: 40px;
    width: 100%;
    float: left;
}

.userInsurance {
    margin-bottom: 40px;
    width: 100%;
    float: left;
}

.healthInsurance p,
.homeInsurance p,
.carInsurance p,
.userInsurance p {
    color: #225282;
}

.github {
    font-size: 16px;
    margin: 36px;
    margin-top: 50px;
    /* background: #f6fbf9; */
    padding: 20px;
    border-radius: 4px;
    /* border: 1px solid #c8e7e0; */
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.menuLink {
    color: white !important;
    font-size: 13px;
    font-weight: bold;
}

.logout {
    color: white !important;
}

.login {
    color: white !important;
}

.tiles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

.tileImage {
    height: 60px;
}

.tileButton {

}

.tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 180px;
    height: 220px;
    border: 1px solid #DFE3E6;
    border-radius: 4px;
    margin: 0px;
    background: white;
    /*    box-shadow: 0 0.125em 0.5em 0 rgba(4, 49, 64, 0.1);*/
}

.homePage .tile {
    margin: 10px;
}

.tiles a {
    border: none;
    margin: 30px;
}

.timeImage {
}

.label {
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #152935;;
    margin-bottom: 20px;
}

.call {
    height: 40px;
    margin: 40px;
    margin-bottom: 60px;
    border-radius: 4px;
    color: #597a96;
    display: flex;
    flex-direction: row;
    align-content: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    /* border: 1px dotted #12aaeb; */
    /* color: black; */
    background: #f5fbfe;
    font-size: 14px;
}

.hole {
    background: #12aaeb;
    height: 10px;
    width: 10px;
    /* margin: 10px; */
    margin-top: 20px;
    border-radius: 10px;
    align-self: center;
}

.hero {
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 36px;
    margin-right: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background: #fcfefe;
    padding: 20px;
    border-radius: 4px;
    color: white;
    border: 1px solid #12aaeb;
    /* padding: 50px; */
}

.json-respond {
    border-radius: 4px;
    border: 1px solid #a2b1c1;
    margin-top: 20px;
    margin-left: 36px;
    margin-right: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.heroText {
    width: 360px;
    padding: 20px;
    color: #597a96;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 24px;
}

.botImage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60px;
    margin: 20px;
}

.watchImage {
    width: 80px;
}

.homePage .member {
    height: 150px;
}

.member .welcome {
    height: 450px;
    border: 1px dotted #c8e7e0;
}

.health .welcome {
    height: 1100px;
    border: 1px dotted #c8e7e0;
}

.auto .welcome {
    height: 1200px;
    border: 1px dotted #c8e7e0;
}

.home .welcome {
    height: 1100px;
    border: 1px dotted #c8e7e0;
}

.insuranceIcons {
    float: left;
    width: 100%;
}

.insuranceIcons h3 {
    text-align: center;
}

.insuranceIcons h3 span {
    color: #225282;
}

.glow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
    align-self: center;
}

.ui-insuranceLeftList {
    margin: 0px;
    padding: 0px;
}

.benefits {
    padding: 15px;
    color: white;
}

.benefits h3 > span {
    width: 100%;
    border-bottom: 1px dotted white;
    float: left;
    margin-bottom: 15px;
}

.benefits .benefits-heading {
    color: #c8e7e0;
    font-size: 12px;
    font-weight: bold;
}

.benefits p {
    color: white;
    font-size: 12px;
}

.about {
    display: flex;
    padding: 30px;
    font-size: 14px;
    border: 1px dotted #12aaeb;
    border-radius: 4px;
}

.cloudvideo {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border: display: flex;
    padding: 30px;
    font-size: 14px;
    border: 1px dotted #c8e7e0;
    border-radius: 4px;
}

.home {
    text-decoration: none;
    color: #FFFFFF;
    border-bottom: none;
    padding-bottom: 1px;
    font-weight: 700;
    font-size: 21px;
}

.input {
    margin-top: 30px;
}

.separator {
    border-bottom: 1px dotted #8ad3f3;
}

.split {
    display: flex;
    flex-direction: row;
}

.policy {
    width: 460px;
    margin-top: 20px;
}

.interact {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 300px;
    max-width: 300px;
    height: 300px;
    max-height: 300px;
    margin: 20px;
    margin-top: 40px;
    min-width: 300px;
    border-radius: 4px;
    color: #597a96;
    border: 1px dashed #597a96;
}

.quote {
    background: #a0dcf7;
    border: none;
    color: #225282;
    border-radius: 4px;
    width: 140px;
    font-size: 14px;
    height: 40px;
    margin: 20px;
    outline: none;
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
    font-weight: bold;
}

.quote:hover {
    cursor: pointer
}

.question {
    font-size: 18px;
    margin: 20px;
}

.instructions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    font-size: 12px;
    color: #225282;
    font-weight: bold;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: visibility 2s linear;
}

.disabledInstructions {
    display: none;
    opacity: 0;
    /*    transition: display 0s 3s, opacity 3s linear;*/
}

.quote:disabled {
    opacity: 0.4;
    visibility: hidden;
    opacity: 0;
    /*    transition: visibility 0s 1s, opacity 1s linear;*/
}

.quoteImage {
    height: 100px;
}

.learn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.elements {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    flex-wrap: wrap;
    width: 500px;
}

.criteria {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 170px;
    height: 170px;
    border-radius: 4px;
    border: 2px dashed #597a96;
    margin: 20px;
    background: white;
    align-content: center;
    align-items: center;
    color: #597a96;
}

.criteria:hover {
    border: 2px solid orange;
}

.selectedCriteria {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 170px;
    height: 170px;
    border-radius: 4px;
    border: 2px solid #12aaeb;
    margin: 20px;
    background: #fcfefe;
    align-content: center;
    align-items: center;
    color: #12aaeb !important;
}

.criteria-image-text {
    font-size: 40px;
    color: #225282;
    height: 70px;
    line-height: 70px;
}

.criteria-image {
    height: 70px;
}

.criteria-label {
    text-align: center;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    min-width: 100px;
    color: #225282
}

.layout {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: height 0.15s ease-out;
    transition: height 0.15s ease-in;
}

.evaluation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.evaluation-image {
    height: 60px;
}

.slider-label {
    margin: 10px;
    color: #225282;
    min-width: 90px;
    text-align: center;
    font-size: 12px;
}

.slider-element {
    display: flex;
    flex-direction: row;
    width: 360px;
}

.criteria-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.output {
    display: flex;
    flex-direction: column;
}

.results {
    display: none;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 800px;
}

.radar {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    font-size: 14px;
    height: 500px;
    max-height: 500px;
    min-width: 500px;
    margin-top: 10px;
    border-radius: 4px;
    color: #597a96;
    height: 0;
    /*    border-bottom: 1px solid #8ad3f3;*/
}

.policies {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 800px;
    /* margin: 20px; */
    /* margin-top: 40px; */
    min-width: 450px;
    border-radius: 4px;
    flex-wrap: wrap;
    color: #225282;
}

.consideration {
    min-width: 100px;
    height: 36px;
    display: flex;
    flex-direction: row;
    font-size: 13px;
    align-items: center;
    margin-left: 10px;
    justify-content: center;
    color: #225282;
    font-weight: bold;
    border-radius: 4px;
    border: 2px solid #12aaeb;
}

.consideration-mobile {
    min-width: 100px;
    height: 36px;
    flex-direction: row;
    font-size: 13px;
    align-items: center;
    margin-left: 10px;
    justify-content: center;
    color: #225282;
    font-weight: bold;
    border: 2px solid #12aaeb;
    display: none;
}

.policyFeedback {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 300px;
    border: 2px solid #8ad3f3;
    border-radius: 4px;
    margin: 30px;
}

#feedback {
    width: 100%;
}

.policyTitle {
    display: flex;
    flex-direction: column;
    width: 180px;
    color: #225282;
    min-height: 50px;
    background: #8ad3f3;
    max-height: 50px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #8ad3f3;
}

.policyTitle:hover {
    cursor: pointer;
}

.policyDetails {
    display: flex;
    flex-direction: column;
    width: 180px;
    /*    min-height: 220px;*/
    height: 200px;
    border-bottom: 2px solid #8ad3f3;
    align-items: center;
    justify-content: center;
}

.policyAction {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    width: 180px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.policyData {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    /* margin: 4px; */
    border: 1px solid #8ad3f3;
    border-top: none;
    min-width: 180px;
    height: 40px;
}

.policyDescription {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 11px;
    height: 28px;
    align-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    width: 100%;
    border-bottom: 1px solid #8ad3f3;
}

.policyRating {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
}

.policyLabel {
    margin: 5px;
    font-size: 14px;
    min-width: 80px;
    height: 40px;
    display: flex;
    border-right: 1px solid #8ad3f3;
    flex-direction: row;
    align-items: center;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
}

.policyContent {
    font-size: 16px;
    min-width: 70px;
    margin-right: 10px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.buyPolicy {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    background: #e7f6fd;
}

.starImage {
    height: 24px;
}

.guidance {
    height: 40px;
    margin: 40px;
    width: 720px;
    margin-bottom: 0;
    border-radius: 4px;
    color: #597a96;
    display: flex;
    flex-direction: row;
    align-content: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    justify-content: space-around;
    align-items: center;
    background: #e7f6fd;
    font-size: 14px;
}

.resultsBar {
    height: 40px;
    margin: 40px;
    margin-bottom: 0;
    border-radius: 4px;
    color: #597a96;
    display: flex;
    flex-direction: row;
    align-content: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    background: #e7f6fd;
    font-size: 14px;
}

.watson {
    cursor: pointer;
    display: none;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 1px solid #12aaeb;
    padding: 5px;
    border-radius: 4px;
    font-size: 11px;
    letter-spacing: 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    color: #225282;
    font-weight: bold;
    min-width: 210px;
}

.glasses {
    height: 11px;
    min-width: 30px;
    margin-right: 10px;
}

.radarContainer {
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #e7f6fd;
}

/* login */

.icon {
    height: 30px;
    width: 24px;
    padding: 10px;
    margin-left: -20px;
}

.loginform {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.loginfield {
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 20px;
    align-content: center;
    flex-direction: row;
}

.loginbox {
    height: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.loginnew {
    padding: 15px;
    text-align: center;
    text-decoration: none;
}

.logininput {
    border: 1px solid #5586D6;
    border-radius: 4px;
    height: 36px;
    padding: 10px;
    width: 180px;
}

.loginbutton {
    margin-top: 10px;
}

.loginArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: baseline;
    z-index: 500;
}

.dropmenu {
    display: flex;
    height: auto;
    margin: 60px;
    width: 300px;
    z-index: 1000;
    background: white;
    border: 1px solid #DFE3E6;
    border-radius: 4px;
}

.menu {
    padding: 0 1rem;
}

.loginmenu {
    margin-left: 10px;
}

.logoutmenu {
    margin-left: 10px;
    display: none;
}


/*Used from here*/
.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0;
    height: 52px;
    background: radial-gradient(#40404b, #111118) rgba(34, 34, 40, 0.94);
}

.btn-primary {
    color: #30303a;
    background-color: #cfd5da;
    border-color: #292929;
    margin: 5px;
}

a.home:hover {
    text-decoration: none;
    color: white;
}

.btn-primary:hover {
    color: #30303a;
    background-color: #cfd5da;
    border-color: #292929;
}

.rowFooter {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 4rem;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: #f4f5f6;
    color: #888;
    text-align: center;
    height: 40px;
    border-top: 1px solid #dedede;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 1px solid rgba(0, 0, 0, .075);
    font-size: 12px;
}

.dashbaordPanel {
    padding: 15px;
    padding-top: 50px;
}

.userProfile {
    width: 50%;
    float: left;
    margin-right: 5%;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1rem 2rem 1rem;
    border: 1px solid rgba(61, 112, 178, 0.25);
    min-height: 500px;

}

.riskArea {
    margin-top: 50px;
}

.newsArea {
    width: 45%;
    float: left;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1rem 2rem 1rem;
    border: 1px solid rgba(61, 112, 178, 0.25);
    min-height: 500px;
    }

.insideText {
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.serviceHeader {
    text-align: justify;
    color: #909090;
    font-size: 14px;
    font-weight: bold;

}

aside.insidePanel {
    padding: 10px;
}



/****************************- Nav bar*/
.btn-margin {
    margin-top: 7px
}

.loading {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}

a {
    cursor: pointer;
}

footer a {
    color: #152935;
    text-decoration: none;
    border: 0;
}

footer a:hover {
    text-decoration: none;
    color: #152935;
}
section.notAuthenticated{
    padding: 50px;
    margin: 30px;
    background: #e4e4e4;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-top: 80px;
}
section.notAuthenticated a{
    color: #152935;
    text-decoration: none;
    font-size: 18px;
}
section.notAuthenticated a:hover{
    text-decoration: none;
}
.md-toolbar-tools{
    background: radial-gradient(#0f212e, #152935) rgba(61,112,178,0.1);}
/****************************- END Nav bar*/




/****************************- Investment Portfolio Widget*/
table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
 }
table tr:nth-child(odd) {
   background-color: #f1f1f1;
 }
table tr:nth-child(even) {
   background-color: #ffffff;
 }
a.accordion-toggle{
    border: 0;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 2px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#portfolio {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#portfolio td, #portfolio th {
    border: 1px solid #ddd;
    padding: 5px !important;
    font-size: 12px;
}

#portfolio tr:nth-child(even){background-color: #f2f2f2;}

#portfolio tr:hover {background-color: #ddd;}

#portfolio th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(17, 36, 48);
    color: white;
}

.discoverRun{
    text-align: center;
}
/****************************- END Investment Portfolio Widget*/




/****************************- Discovery News Widget*/
.widget--header-title {
    font-size: 2.25em;
}
.story {
    margin-bottom: 2.5rem;
}
.top-stories--description {
    margin-bottom: 3rem;
}
.widget--header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.base--h2, h2 {
    font-size: 2.25rem;
    font-weight: 200;
}
.widget--header-title {
    font-size: 2.25em;
}
.story--title {
    font-weight: 300;
    font-size: 1.3em;
    line-height: 1.3;
}
.base--a, a {
    color: #121212;
    border-bottom: 2px solid #121212;
    font-weight: 400;
    text-decoration: none;
    transition: .2s;
    cursor: pointer;
}

.top-stories--description {
    margin-bottom: 2rem;
}
.base--p {
    font-weight: 300;
}
.base--p {
    font-size: 1em;
}

.story--date {
    font-size: 0.7em;
    color: #5A5A5A;
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.results--a, .results--a:visited {
    color: #3d70b2;
    font-weight: inherit;
    background: transparent;
    border: none;
    padding: 0rem;
    margin-top: 0rem;
}
.results--a:hover{
    color: #3d70b2;
    border: none;
}
.story--source-and-score {
    margin-top: 0.05rem;
}
.story--source {
    font-size: 1em;
}
.base--p {
    font-weight: 300;
}
.story--source-score-divider {
    color: #C7C7C7;
}
.story--score {
    font-size: 1em;
}
.base--p {
    font-weight: 300;
}

/*Button for View API*/
.widget--header-button {
    border: #5a5a5a 1px solid;
    background-color: transparent;
    color: #5a5a5a;
    border-radius: 10rem;
    padding: .25em 2em;
    font-weight: normal;
    font-size: .8em;
    height: 31px;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    white-space: nowrap;
    display: block;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
}
.widget--header-button {
    display: inline-block;
    width: auto;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.widget--simulate-button {
    background-color: transparent;
    color: #fff;
    border-radius: 10rem;
    padding: .25em 2em;
    font-weight: normal;
    font-size: .8em;
    height: 31px;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    white-space: nowrap;
    display: block;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
}
.widget--simulate-button {
    display: inline-block;
    width: auto;
    margin-top: 0rem;
    margin-bottom: 0rem;
}
.red{
    color: #de6b6b;
}
.normal{
    color: #152935;
}
.green{
    font-weight: bolder;
    color: #19B50A;
}
.redsimulate{
    font-weight: bolder;
    color:#de6b6b
}
top-stories--list ng-scope:first-child{
    display: inline;
}
.top-stories--list.ng-scope{
    height: 405px;
    overflow: auto;
    background: rgba(206, 219, 236, 0.18);
    padding: 10px;
    border-right: solid 5px #122531;
}
span.userMessage.ng-scope {
    width: 100%;
    padding: 10px 10px 10px 10px;
    display: flex;
    text-align: center;
    font-size: 14px;
    background-color: #c0e6ff;
    color: #325c80;
    border-radius: 30px;
    margin-top: 40px;
}
span.userMessage.ng-scope p{
    text-align: center;
    width: 100%;
    margin: 0;
}

/*discoveryAnalytics*/
.discoveryAnalytics{
    display: flex;
    width: 100%;
    float: right;
    border-radius: 3px;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 1rem 2rem 1rem;
    border: 1px solid rgb(17, 36, 48);
    background: rgba(17, 36, 48, 0.87);
    font-size: 18px;
    color: white;
}

.discoveryAnalyticsMessage {
    text-align: center;
    width: 100%;
}

.redBold{
    font-weight: bold;
    font-size: 20px;
    color: #de6b6b;
}


.sentimentsFound{
    display: flex;
}

.negativeCount{
    padding: 4px 12px;
    font-size: 12px;
    margin-right: 10px;
    border-bottom: none;
    border-radius: 15px;
    font-weight: normal;
    background: #de6b6b;
    color: #fbfbfb;
}

.positiveCount{
    padding: 4px 12px;
    font-size: 12px;
    margin-right: 10px;
    border-bottom: none;
    border-radius: 15px;
    font-weight: normal;
    background: #aaf9e6;
    color: #238070;
}

.neutralCount{
    padding: 4px 12px;
    font-size: 12px;
    margin-right: 10px;
    border-bottom: none;
    border-radius: 15px;
    font-weight: normal;
    background: #f6f9fc;
    color: #3d70b2;
}
/****************************END - Discovery News Widget*/





/****************************- Predictive Market-Scenarios Widget*/
.analyticsArea {
    width: 100%;
    float: left;
    height: 400px;
    margin-top: 60px;
    float: left;
    border-radius: 3px;
    margin-bottom: 60px;
    padding: 1rem 2rem 1rem;
    border: 1px solid rgba(61, 112, 178, 0.25);
}

.marketScenarios {
    width: 50%;
    float: left;
    margin-right: 5%;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1rem 2rem 1rem;
    border: 1px solid rgba(61, 112, 178, 0.25);
    margin-top: 80px;
}

.instrumentAnalytics {
    width: 45%;
    float: left;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1rem 2rem 1rem;
    border: 1px solid rgba(61, 112, 178, 0.25);
    min-height: 200px;
    margin-top: 80px;
    margin-bottom: 100px;
}

.instrumentAnalytics img, .marketScenarios img {
    width: 30px;
    height: 30px;
    border-radius: 25px;
}
.marketScenariosBody{
    margin-top: 20px; 
}
button.base--button.widget--header-button.csv {
    background-color: #132632;
    color: white;
}
.downloadCSV{
    border: 0;
}
/****************************END - Predictive Market-Scenarios Widget*/



@media only screen and (max-width: 800px) {
    .userProfile {
        width: 100%;
        margin-right: 0%;
    }

    .newsArea {
        width: 100%;
        margin-right: 0%;
        text-align: left;
    }


    .analyticsArea {
        margin-top: 30px;
        width: 100%;
        margin-right: 0%;
        height: auto;
    }

    .marketScenarios {
        width: 100%;
        border-right: 0;
        height: 400px;
        margin-top: 20px;
    }

    .instrumentAnalytics {
        text-align: left;
        width: 100%;
        height: 400px;
        margin-top: 20px;
        margin-bottom: 50px;
    }


    .outline {
        display: flex;
        align-content: center;
        align-self: center;
        flex-direction: column;
        width: 100%;
    }

    .banner {
        /*display: flex;
        flex-direction: column;
        align-items: center;
        background: #225282;
        padding: 30px;
        padding-bottom: 0px;
        padding-top: 0;
        margin-top: 0;
        border-radius: 0;
        height: 90px;
        z-index: 0;*/
    }

    .bannersecond {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #152935;
        padding: 30px;
        padding-bottom: 0px;
        padding-top: 0;
        margin-top: 0;
        border-radius: 0;
        height: 60px;
        z-index: 0;
    }

    .tagline {
        font-size: 1.3rem;
    }

    .menu {
        font-size: 14px;
        font-weight: 500;
        padding: 10px;
    }

    .tiles {
        isplay: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }

    .call {
        display: none;
    }

    .hero {
        display: none;
    }

    .homePage .tile {
        margin: 10px;
        margin-bottom: 18px;
        margin-top: 0;
    }

    .name {
        font-size: 20px;
        margin-left: 10px;
    }

    .welcome {
        font-size: 14px;
        border-radius: 4px;
        color: #8C9BA5;
        line-height: 24px;
        text-align: center;
        margin: 0;
    }

    .split {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .interact {
        order: 1;
    }

    .policy {
        order: 2;
        width: 302px;
        margin: 0;
    }

    .plan {
        font-size: 14px;
        margin: 0;
        padding: 20px;
        border-radius: 4px;
        color: #597a96;
        width: 260px;
        border: 1px dashed #597a96;
    }

    .consideration-mobile {
        display: flex;
    }

    .consideration {
        display: none;
    }

    .evaluation {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 2px solid #e7f6fd;
    }

    .resultsBar {
        flex-direction: column;
        height: 80px;
        margin: 0;
        padding-bottom: 20px;
    }

    .watson {
        margin-right: 0;
    }

    .output {
        width: 400px;
        align-items: center;
    }

    .results {
        width: 400px;
    }

    .policies {
        width: 320px;
        min-width: 320px;
    }
}
