<md-toolbar>
    <div class="md-toolbar-tools">
        <div class="logo"><img class="logoImage" src="/assets/images/wash/cloud.svg"></div>
        <div class="name"><a class="home" href=".">Investment Insights <span class="light">for Asset Managers</span></a></div>
        <span flex></span>
        <md-button
                aria-label="Login"
                ng-if="!vm.auth.isAuthenticated()"
                ng-click="vm.auth.login()">
            Login
        </md-button>

        <md-button
                aria-label="Logout"
                ng-if="vm.auth.isAuthenticated()"
                ng-click="vm.auth.logout()">
            Logout
        </md-button>
        <md-icon>
            <a href="https://github.com/IBM-Bluemix/investment-insights-for-asset-managers"><img height="25px" src="/assets/images/github.svg"/></a>
        </md-icon>
    </div>
</md-toolbar>
